@media only screen and (max-width:2100px) {
    /*estilo do header*/
    body{
        margin: 0px;
    }
    #logo{
        width: 500px;
        height: 158px;
    
    }

    #logo img{
        position: absolute;
        width: 570px;
        margin-left: -10px;
    }

    #contato{
        position: absolute;
        float: left;
        margin-top: -220px;
        margin-left: 480px;
        width: 1420px;
        height: 198px;
        background-color: rgba(22, 22, 22, 0.2);
    }
    #contato p{
        margin-left: 650px;
        font-size: 20px;
    }
    #titulo{
        position: absolute;
        margin-top: -23px;
        width: 100%;
        height: 808px;
        background-color: rgba(22, 22, 22, 0.1);
    }

    #titulo h3{
        font-size: 40px;
        color: #fff;
        margin-left: 680px;
        margin-top: 400px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #titulo a{
        text-decoration: none;
        margin-left: 1100px;
        color: rgba(28,0,14,255);
        
    }
    #dvqt{
        color: #ccc24a;
        font-size: 20px;
        text-align: center;
        margin-left: 910px;
        background: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        width: 80px;
        padding: 5px;
        border-radius: 5px;
    }

    header div p{
        color: white;
        margin-top: 90px;
        margin-left: 650px;
    }

    header div span{
        color:#bdb76b;
    }

    #imgHeader{
        margin-top: -217px;
        width: 100%;
        height: 1000px;
    }
     hr{
        margin-left: 650px;
        width:540px;
        border-color: rgba(80,0,14,255);
    }

    #menu{
        margin-top: 10px;
        margin-left: 650px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
    }

    #menu ol{
        font: 16px;
        padding: 0px;
    }

    #menu ol li{
        float: left;
        position: relative;
        display: block;
    }

    #menu ol li a{
        color: #ccc24a;
        background-image: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        text-decoration: none;
        margin: 2 2px;
        padding: 8px 28px;
        display: block;
        border-radius: 5px;
    }

    #menu ol li a:hover{
        background-color: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
        background-image: -webkit-linear-gradient(top, #50000E, #1C000E);
        background-image: -moz-linear-gradient(top, #50000E, #1C000E);
        background-image: linear-gradient(to bottom, #50000E, #1C000E);
        color: #ccc24a;
    }
     

    #dvqt:hover{
        background:-webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #50000E, #1C000E);
        background-image: -moz-linear-gradient(top, #50000E, #1C000E);
        background-image: linear-gradient(to bottom, #50000E, #1C000E);
    }


    /*estilo da section*/
    #reserva{
        position: absolute;
        margin-top: -80px;
        margin-left: 450px;
        width: 1100px;
        height: 125px;
        background-color: #bdb76b;
        border-radius: 5px;
    }
    form{
        
        padding-top: 45px;
    }
    #reserva label{
        margin-left: 20px;
        font-size: 20px;
        color: white;
    }
    #entrada{
        border-radius: 10px;
        font-size: 13px;
        padding: 8px;
        width: 125px;         
    }
    #saida{
        border-radius: 10px;
        font-size: 13px;
        padding: 8px;
        width: 125px;  
    }
    #adultos{
        border-radius: 10px;
        margin-left: 70px;
        padding: 12px;
        width: 125px;
    }
    #criancas{
        border-radius: 10px;
        margin-left: 70px;
        padding: 12px;
        width: 125px;
    }
    #submit{
        
        float: left;
        color: #ccc24a;
        font-size: 20px;
        text-align: center;
        margin-top: -55px;
        margin-left: 910px;
        background: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        width: 150px;
        padding: 20px;
        border-radius: 15px;
    }
    
    #quartos{
        float: left;
        margin-top: 120px;
        margin-left: 550px;
        color: #ccc24a;
        font-size: 28px;
    }

    #casal{
        margin-left: 20px;
    }

    #solteiro{
        float: left;
        margin-left: -200px;        
    }
     
    #precoCasal{
        visibility: hidden;
        position: absolute;
        margin-top: 320px;
        margin-left: 880px;    
    }

    #precoSolteiro{
        visibility: hidden;
        position: absolute;
        margin-top: 320px;
        margin-left: 260px;

    }

    .classShadow{
        box-shadow : 10px 10px 5px silver;
    }
}

@media only screen and (max-width:1400px) {
    body{
        margin: 0px;
    }
    
    #logo img{
        position: absolute;
        width: 400px;
        margin-left: -10px;
    }

    #contato{
        position: absolute;
        float: left;
        margin-top: -212px;
        margin-left: 80px;
        width: 1266px;
        height: 160px;
        background-color: rgba(22, 22, 22, 0.2);
    }
    
    #contato p{
        font-size: 16px;
        margin-left: 650px;
        margin-top: 70px;
    }

    #face{
        margin-left: 1000px;
        margin-top: -35px;
    }

    #face img{
        width: 10px;
    }

    #insta{
        margin-left: 1050px;
        margin-top: -25px;
    }

    #insta img{
        width:24px;
    }

    hr{
        margin-left: 650px;
        width:515px;
        border-color: rgba(80,0,14,255);
    }

    #menu{
        margin-top: 10px;
        margin-left: 650px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
    }

    #menu ol{
        font: 16px;
        padding: 0px;
    }

    #menu ol li{
        float: left;
        position: relative;
        display: block;
    }

    #menu ol li a{
        color: #ccc24a;
        background-image: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        text-decoration: none;
        margin: 2 2px;
        padding: 6px 25px;
        display: block;
        border-radius: 5px;
    }

    #menu ol li a:hover{
        background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
        background-image: -webkit-linear-gradient(top, #50000E, #1C000E);
        background-image: -moz-linear-gradient(top, #50000E, #1C000E);
        background-image: linear-gradient(to bottom, #50000E, #1C000E);
        color: #ccc24a;
    }

    #titulo{
        position: absolute;
        margin-top: -52px;
        width: 100%;
        height: 634px;
        background-color: rgba(22, 22, 22, 0.1);
    }

    #titulo h3{
        font-size: 35px;
        color: #fff;
        margin-left: 450px;
        margin-top: 315px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #titulo a{
        text-decoration: none;
        color: rgba(28,0,14,255);
        
    }
    #dvqt{
        color: #ccc24a;
        font-size: 20px;
        text-align: center;
        margin-left: 640px;
        background-image: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        width: 80px;
        padding: 5px;
        border-radius: 5px;
    }

    #dvqt:hover{
        background-image: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #50000E, #1C000E);
        background-image: -moz-linear-gradient(top, #50000E, #1C000E);
        background-image: linear-gradient(to bottom, #50000E, #1C000E);
    }

    header div p{
        color: white;
        margin-top: 90px;
        margin-left: 650px;
    }

    header div span{
        color:#ccc24a;
    }

    #imgHeader{
        margin-top: -217px;
        width: 100%;
        height: 800px;
    }


    /*estilo da section*/
    #reserva{
        position: absolute;
        margin-top: -60px;
        margin-left: 240px;
        width: 850px;
        height: 100px;
        background-color: #bdb76b;
        border-radius: 5px;
    }

    form{
        padding-top: 35px;
    }

    #reserva label{
        margin-left: 20px;
        font-size: 18px;
        color: white;
    }
    #entrada{
        border-radius: 10px;
        font-size: 12px;
        padding: 8px;
        width: 100px;         
    }
    #saida{
        border-radius: 10px;
        font-size: 12px;
        padding: 8px;
        width: 100px;  
    }
    #adultos{
        border-radius: 10px;
        margin-left: 40px;
        padding: 10px;
        width: 100px;
    }
    #criancas{
        border-radius: 10px;
        margin-left: 40px;
        padding: 10px;
        width: 100px;
    }
    #submit{       
        float: left;
        color: #ccc24a;
        font-size: 20px;
        text-align: center;
        margin-top: -45px;
        margin-left: 730px;
        background: -webkit-gradient(linear, left top, left bottom, from #1C000E), to(end-color);
        background-image: -webkit-linear-gradient(top, #1C000E, #50000E);
        background-image: -moz-linear-gradient(top, #1C000E, #50000E);
        background-image: linear-gradient(to bottom, #1C000E, #50000E);
        width: 100px;
        padding: 10px;
        border-radius: 15px;
    }

    #quartos{
        float: left;
        margin-top: 120px;
        margin-left: 550px;
        color: #ccc24a;
        font-size: 28px;
    }

    #casal{
        margin-left: 20px;
        width: 550px;
    }

    #solteiro{
        float: left;
        margin-left: -435px;
        width: 550px;
    }

    #precoCasal{
        visibility: hidden;
        position: absolute;
        margin-top: 320px;
        margin-left: 880px;    
    }

    #precoSolteiro{
        visibility: hidden;
        position: absolute;
        margin-top: 320px;
        margin-left: 260px;

    }

    .classShadow{
        box-shadow : 10px 10px 5px silver;
    }
}